{% extends "base.html" %}

{% load i18n %}
{% load package_tags %}

{% block head_title %}{{ package.name }}{% endblock %}

{% block extra_head %}
  <meta name="description" content="{{ package.repo_description }}" />
  <meta name="keywords" content="{{ package.grid_set.all|join:',' }}" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css" type="text/css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/package.css?deployment={{ DEPLOYMENT_DATETIME }}" type="text/css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/timeline.css?deployment={{ DEPLOYMENT_DATETIME }}" type="text/css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/lightslider.css?deployment={{ DEPLOYMENT_DATETIME }}" type="text/css"/>
  {{ block.super }}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12 title-row">
        <h2>{{ package.name }} <a href="{% url 'edit_package' package.slug %}"><span class="glyphicon glyphicon-pencil"></span></a></h2>
        <p class="category"><i class="material-icons">format_list_bulleted</i> {{ package.category }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {% if package.url %}
        <div class="website">
            <h3>Project Website</h3>
            <p><a href="{{ package.url }}" target="_blank">{{ package.url }}</a></p>
        </div>
        {% endif %}
        {% if package.announcement_post %}
        <div class="announcement">
            <h3>Announcement</h3>
            <p><a href="{{ package.announcement_post }}">{{ package.announcement_post|truncatechars:"60" }}</a></p>
        </div>
        {% endif %}
        <div class="grids">
            <h3>Comparision grids</h3>
            <div>
            {% for grid in package.grids %}
                <a href="{% url 'grid' grid.slug %}" title="{{ grid.description }}">{{ grid }}</a> &nbsp;
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="description">
            <h3>Description</h3>
            <p>{{ package.description }}</p>
        </div>
        {% if package.team_members.count %}
        <div class="team clearfix">
            <h3>Team</h3>
            <div>
                {% for membership in package.teammembership_set.all %}
                    <div class="contributor team-member">
                        {% if membership.account.type == "STEEM" %}
                            <img class="img-circle" src="https://img.steemconnect.com/@{{ membership.account.name }}?s=45">
                            <a class="name" href="{% url 'steem_profile_detail' membership.account.name %}">{{ membership.account.name }}</a> - {{ membership.role }}
                        {% elif membership.account.type == "GITHUB" %}
                            <img class="img-circle" src="https://github.com/{{ membership.account.name}}.png?size=45">
                            <a class="name" href="{% url 'github_profile_detail' membership.account.name %}">{{ membership.account.name }}</a> - {{ membership.role }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if not_team_contributors|length %}
        <div class="contributors clearfix">
            <h3>Contributors
                <sup>
                    <i class="material-icons" title="{% trans "Contributors - volunteers which are officially not in the team, but helped because they wanted. Very often this is possible only if project is open-source." %}">info_outline</i>
                </sup>
            </h3>
            <div>
                {% for contributor in not_team_contributors %}
                    <div class="contributor">
                        {% if contributor.type == "STEEM" %}
                            <img class="img-circle" src="https://img.steemconnect.com/@{{ contributor.name }}?s=30">
                            <a class="name" href="{% url 'steem_profile_detail' contributor.name %}">{{ contributor.name }}</a>
                        {% elif contributor.type == "GITHUB" %}
                            <img class="img-circle" src="https://github.com/{{ contributor.name }}.png?size=30">
                            <a class="name" href="{% url 'github_profile_detail' contributor.name %}">{{ contributor.name }}</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="development clearfix">
            <h3>Development Stats
                <a href="{% url 'fetch_package_data' package.slug %}" title="{% trans "Fetch latest data" %}">
                    <i class="material-icons">sync</i>
                </a>
            </h3>
            {% if package.repo_url %}
            <div>
                {% if repo.title == "Github" %}
                    <p>
                        {% if package.last_fetched %}
                            Last fetched: {{ package.last_fetched|timesince }} ago
                        {% endif %}
                    </p>
                    <img src="https://chart.googleapis.com/chart?cht=bvg&chs=105x20&chd=t:{{package.commits_over_52}}&chco=666666&chbh=1,1,1&chds=0,20" />
                {% else %}
                    <p>No detail information. Only github repositories are right now supported on SteemProjects</p>
                {% endif %}


            </div>
            {% else %}
            <div>No information :( This project is not open-source <sup><a href="https://www.youtube.com/watch?v=1ehpgbb3XD0" target="_blank"><i class="material-icons">info_outline</i></a></sup></div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="clearfix" style="width: calc(33vw - 60px)">
            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                {% for img in project_imgs %}
                    <li data-thumb="{{ img.url }}">
                        <img class="slide-sp" src="{{ img.url }}"/>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <a id="edit-images" href="{% url 'edit_images' package.slug %}" class="btn btn-default sp-btn sp-btn-normal">Add/Edit project images</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Timeline  <a href="{% url 'edit_timeline' package.slug %}"><span class="glyphicon glyphicon-pencil"></span></a></h2>
        <div id="timeline" style=""></div>
        <script type="text/javascript">
            var container = document.getElementById('timeline');

            var items = new vis.DataSet([
            {% for event in package.events.all %}
                {id: {{ forloop.counter }}, content: '<div class="event-date">{{ event.date}}</div><a href="{{ event.url}}" target="_blank">{{ event.name|safe}}</a>', start: '{{ event.date}}'},
            {% endfor %}
            ]);

            var options = {
                //align: 'left',
                min: new Date(2016, 3, 1),
                max: new Date(Date.now() + 1000*60*60*24*31), // next month
                showCurrentTime: false
            };

            var timeline = new vis.Timeline(container, items, options);
            container.addEventListener("mouseover", function(){timeline.redraw();});
        </script>
    </div>
</div>

{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/underscore.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/gh3.js" type="text/javascript"></script>
{% endblock %}

{% block extra_body %}
<script src="{{ STATIC_URL }}js/lightslider.js"></script>
<style>
    ul{
        list-style: none outside none;
        padding-left: 0;
        margin: 0;
    }
    .content-slider li{
        background-color: #ed3020;
        text-align: center;
        color: #FFF;
    }
    .content-slider h3 {
        margin: 0;
        padding: 70px 0;
    }
    ul.lSPager.lSGallery img {
        width: 3.2vw !important;
        height: 1.8vw !important;
        object-fit: cover;
    }
    img.slide-sp {
        width:calc(33vw - 60px);
        height: calc((33vw - 60px)*(9/16));
        object-fit: cover;
    }
</style>
<script>
     $(document).ready(function() {
        $("#content-slider").lightSlider({
            loop:true,
            keyPress:true
        });
        $('#image-gallery').lightSlider({
            gallery:true,
            item:1,
            thumbItem:9,
            slideMargin: 0,
            speed:500,
            auto:false,
            loop:true,
            adaptiveHeight: true,
            verticalHeight: 200,
            onSliderLoad: function() {
                $('#image-gallery').removeClass('cS-hidden');
            }
        });
    });
</script>
<script type="text/javascript">
    $(function() {

        $('#find-a-grid').click(function(e) {
            e.preventDefault();
            $('#find-a-grid').hide();
            $('#find-a-grid-form').show();
            $('#find-a-grid-input').focus();

            $('#find-a-grid-input').keyup(function() {
                var search_text = $('input#find-a-grid-input').val();
                var search_text = '{% url 'ajax_grid_list' %}?q=' + search_text + '&package_id={{ package.id }}';
                console.log(search_text);
                $.get(search_text, function(data) {
                  $('#target').html(data).show("slow");
                });
            });

            $("#find-a-grid-form").keypress(function(e) {
                  if (e.which == 13) {
                    return false;
                  };
            });

        });

    });
</script>
{% endblock %}
