{% extends "package/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{{ action|title }} {% trans "package" %}{% endblock %}

{% block body_class %}project-form{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/add_project.css?deployment={{ DEPLOYMENT_DATETIME }}" type="text/css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/edit_form.css?deployment={{ DEPLOYMENT_DATETIME }}" type="text/css"/>
  {{ block.super }}
{% endblock %}

{% block body %}

    {% if package %}
        <h2>Editing {{ package.name }}</h2>
    {% else %}
        <h2>Add new project</h2>
    {% endif %}
    <p id="package-form-message"></p>

    <form action="{{ request.path }}" method="post" id="package-form">
        <div class="row">
            <div class="col-sm-12">
                {{ form.errors }}
                <input type="hidden" name="temp" id="temp" value="" />
                {% csrf_token %}
            </div>

            <div class="col-sm-1">
                <div class="field-label">{{ form.name.label }}<span class="required">*</span></div>
            </div>
            <div class="col-sm-3">
                <div class="field">{{ form.name }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <div class="field-label">{{ form.description.label }}</div>
            </div>
            <div class="col-sm-7">
                <div class="field">{{ form.description }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <div class="field-label">{{ form.url.label }}</div>
                <div class="field-label">{{ form.announcement_post.label }}</div>
            </div>
            <div class="col-sm-3">
                <div class="field">{{ form.url }}</div>
                <div class="field">{{ form.announcement_post }}</div>
            </div>
            <div class="col-sm-1">
                <div class="field-label">{{ form.repo_url.label }}</div>
                <div class="field-label">{{ form.contact_url.label }}</div>
            </div>
            <div class="col-sm-3">
                <div class="field"></div>
                <div class="field">{{ form.repo_url }}</div>
                <div class="field">{{ form.contact_url }}</div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div id="tm-forms">
            <div class="row">
                {{ formset.management_form }}
                <div class="col-sm-1">
                    <div class="field-label" style="margin-top: 5px">
                        Team Members
                    </div>
                </div>
                <div class="col-sm-7">
                    {% for form in formset %}
                        <div class="tm-form">
                            {% if form.is_initialized %}
                                <div style="display: none">
                                    {{ form }}
                                </div>
                                <div class="contributor team-member entry">
                                    <div class="">
                                        <img class="img-circle" src="{{ form.avatar_small.value}}" style="width:30px;height:30px">
                                        {% if form.role_confirmed_by_account.value == False %}<strike style="color: grey">{% endif %}
                                            {{ form.account_name.value }} - {{ form.role.value }}
                                        {% if form.role_confirmed_by_account.value == False%}</strike>&nbsp;&nbsp;(membership rejected){% endif %}
                                            <span class="rm-btn tm-entry"><i class="icon-close"></i>Remove</span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% for form in formset %}
                <div class="tm-form">
                    {% if not form.is_initialized %}
                        <div class="row contributor team-member form">
                            <div class="col-sm-1">
                                <span class="field-label">{{ form.account_name.label }}<span class="required">*</span></span>
                            </div>
                            <div class="col-sm-11">
                                <span class="field account-name">{{ form.account_name }}</span>
                                <span class="field-label">{{ form.account_type.label }}<span class="required">*</span></span>
                                <span class="field account-type">{{ form.account_type }}</span>
                                <span class="field-label">{{ form.role.label }}<span class="required">*</span></span>
                                <span class="field role">{{ form.role }}</span>
                                <span class="rm-btn tm-form"><i class="icon-close"></i>Remove</span>
                            </div>
                            {% if form.non_field_errors %}
                                <ul>
                                    {{ form.non_field_errors.as_ul }}
                                </ul>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>


        <div class="row">
            <div class="col-sm-1 col-sm-offset-1">
                <div id="formset-add-new-form-btn" class="m-btn m-btn--small">Add new member</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <div class="field-label">{{ form.status.label }}<span class="required">*</span></div>
            </div>
            <div class="col-sm-2">
                <div class="field">{{ form.status }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-11 col-sm-offset-1">
                {{ form.status.help_text }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <div class="field-label">{{ form.category.label }}<span class="required">*</span></div>
            </div>
            <div class="col-sm-2">
                <div class="field">{{ form.category }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-11 col-sm-offset-1">
                {{ form.category.help_text|safe }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-sm-offset-1">
                <input class="m-btn m-btn--inverse" type="submit" name="add" value="Save {% if package.is_draft %}draft{% else %}project{% endif %}">
            </div>
        </div>
    </form>
    <div id="empty-form" style="display: none;">
        <div class="tm-form">
            <div class="row contributor team-member form">
                <div class="col-sm-1">
                    <span class="field-label">{{ formset.empty_form.account_name.label }}<span class="required">*</span></span>
                </div>
                <div class="col-sm-11">
                    <span class="field account-name">{{ formset.empty_form.account_name }}</span>
                    <span class="field-label">{{ formset.empty_form.account_type.label }}<span class="required">*</span></span>
                    <span class="field account-type">{{ formset.empty_form.account_type }}</span>
                    <span class="field-label">{{ formset.empty_form.role.label }}<span class="required">*</span></span>
                    <span class="field role">{{ formset.empty_form.role }}</span>
                    <span class="rm-btn tm-form"><i class="icon-close"></i>Remove</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_body %}
<script src="{{ STATIC_URL }}js/urlify.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/package_form.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){

        var rmEntry = function(event) {
            //TODO: at least one TM should left
            var tm = $(event.target).closest('.tm-form');
            tm.find('input[type=checkbox]').prop('checked', true);
            tm.find('.team-member.entry').remove();
        };

        var rmForm = function(event) {
            var total_forms = $('#id_form-TOTAL_FORMS');
            var form_idx = total_forms.val();
            total_forms.val(parseInt(form_idx) - 1);
            $(event.target).closest('.team-member.form').remove();
        };

        $('.rm-btn.tm-entry').click(rmEntry);
        $('.rm-btn.tm-form').click(rmForm);

        $('#formset-add-new-form-btn').click(function (event) {
            var total_forms = $('#id_form-TOTAL_FORMS');
            var form_idx = total_forms.val();
            var new_form = $($('#empty-form').html().replace(/__prefix__/g, form_idx));
            $('#tm-forms').append(new_form);
            new_form.find('.rm-btn.tm-form').click(rmForm);
            total_forms.val(parseInt(form_idx) + 1);
        });
    });

</script>

{% endblock %}
