{% extends "base.html" %}

{% load i18n profile_tags %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/account.css" />
{% endblock %}


<body class="{% block body_class %}account{% endblock %}">
{% block body %}
    <div class="container">
        <div class="row">
            <p>
                <a class="social-sign-in" href="{% url 'social:begin' 'github' %}">Login with Github</a>
            </p>
            <p>
                <a class="social-sign-in" href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
            </p>
            <p>
                <a class="social-sign-in" href="{% url 'social:begin' 'steemconnect' %}">Login with SteemConnect</a>
            </p>
        </div>
    </div>
{% endblock %}

