#package-editlink,
#package-gridname {
    display: inline;
}


#package-sitelist li {
    margin: 9px 0;
}

.clear {
    clear: both;
}

.badges { line-height: 26px; list-style: none; display: inline; }
/* .badges li { display: inline; } */
.badges a, .badges a:visited { border-bottom-left-radius: 5px 5px; border-bottom-right-radius: 5px 5px; border-top-left-radius: 5px 5px; border-top-right-radius: 5px 5px; font-size: 11px; height: 16px; margin: 0px; padding: 5px 10px; background: #444; color: white; text-decoration: none; font-weight: 700; }
.badges a:hover { background: #2F1D1D; }

#package-archive-list, #package-archive-list li { list-style:none; }

.main-screenshot{
    width: 100%;
}

.contributors h3 sup i {
    font-size: 14px;
    cursor: help;
}

.contributor.team-member {
    float: none;
    padding: 5px;
    font-size: 18px;
}

.contributor {
    float: left;
    padding: 3px 3px 3px 5px;
}

.contributor.team-member img {
    /* github fetches large generated avatars even when '?size=' is specified */
    height: 45px;
    width: 45px;
}
.contributor img {
    /* github fetches large generated avatars even when '?size=' is specified */
    height: 30px;
    width: 30px;
}

.contributor a.name{
    padding: 0 10px;
    font-size: 16px;
    color: #4aa1f1;
}
.contributor.team-member a.name{
    padding: 0 0 0 10px;
    font-size: 18px;
}

.contributor a.name:hover{
    text-decoration: none;
}

.development i.material-icons {
    font-size: 14px;
}

.title-row p {
    position: absolute;
    bottom: 4px;
    font-size: 13px;
    margin-bottom: 0;
    line-height: 1.3;
}

.title-row p i.material-icons {
    position: relative;
    top: 1px;
    font-size: 12px;
}

#edit-images {
    float: right;
}
