h1 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    display: inline-block;
}

.edit-profile {
    margin-left: 10px;
}

h2 {
    font-size: 16px;
    margin: 0 0 10px 0;
    padding: 0;
}

.roles {
    margin-bottom: 30px;
}

#accounts i[class^="icon-"] {
    margin-right: 10px;
    position: relative;
    top: 2px;
    font-size: 16px;
}

#accounts .account {
    margin-right: 20px;
    margin-bottom: 10px;
}

i.material-icons {
    font-size: 14px;
    position: relative;
    top: 2px;
    margin-left: 5px;
    cursor: text;
    vertical-align: initial;
}

a:hover i.material-icons {
    vertical-align: initial;
}

.row .col-xs-4:first-child {
    padding-left: 32px;
}

.heart {
    color: #bf2155;
}

.table tbody > tr > td {
    border: none;
    border-bottom: 1px solid #ddd;
}

tr > td:first-child {
    width: 50px;
}

.role-confirm {
    margin: 0 5px;

}

.role-confirm i.material-icons {
    margin: 0 5px;
    cursor: pointer;
}

.role-confirm-verify {
    color: #4aa1f1;
}

.role-confirm-verify i.material-icons {
    color: #4aa1f1;
}

.role-confirm-deny {
    color: #bf2155;
}

.role-confirm-deny i.material-icons {
    color: #bf2155;
}

.account .disconnect-account {
    display: none;
}

.account:hover .disconnect-account {
    display: inline-block;
}

.account form.disconnect {
    display: inline-block;
}

.account:hover form.disconnect button {
    border: none;
    background: none;
    line-height: 14px;
}
