.m-footer {
    .m-btn {
        margin: 0;
        background-color: $base-footer-button-background-color;
        border-color: $base-footer-button-border-color;
    }
}


.footer {
  position: absolute;
  bottom: 0;
}


@media (max-width: 1599px) {
  .footer .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/**
 * Footer bar
 */

.footer {
    //background-color: #dcdfe2;
    background-color: $base-footer-background-color;
    clear: both;
    width: 100%;
    font-size: 12px;
}

.footer .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-buttons {
    padding: 9px 0;
}

.footer-items {
    margin: 11px 0;
    padding: 0;
    text-align: right;
    line-height: 42px;
}

@media (max-width: 991px) {
    .footer {
        text-align: center
    }

    .footer-items {
        margin: 0;
        padding: 9px 0;
        text-align: center;
        line-height: initial;
    }
}

.footer-item {
    margin: 0 10px;
}

.footer a {
    color: $base-font-color;
}

.footer a:hover {
    text-decoration: none;
}


.footer .btn.btn-default.sp-btn.sp-btn-normal {
    margin: 0;
    border-color: #3e4f5e;
}

.footer .btn.btn-default.sp-btn.sp-btn-normal:hover {
    background-color: #4aa1f1;
    border-color: #4aa1f1;
    color: #fff;
}
