{% load i18n %}

<div class="m-footer">
    <div class="container">
        <div class="col-sm-12 col-md-2">
            <a class="m-footer__btn" href="{% url 'contribute' %}">{% trans "Contribute" %}</a>
        </div>
        <div class="hidden-xs hidden-sm col-md-10 m-footer__items">
          <span class="m-footer__item">&copy; {% now "Y" %} <a class="m-footer__link" href="https://steemit.com/@noisy" target="_blank">Krzysztof Szumny - @noisy</a></span>
          <span class="m-footer__item"><a class="m-footer__link" href="{{ PROJECT_GITHUB_REPOSITORY_URL }}" target="_blank">Repo</a></span>
          <span class="m-footer__item"><a class="m-footer__link" href="{% url 'faq' %}">{% trans "FAQ" %}</a></span>
          <span class="m-footer__item"><a class="m-footer__link" href="{% url 'terms' %}">{% trans "Terms" %}</a></span>
        </div>

        <div class="visible-xs-block visible-sm-block col-sm-12 m-footer__items">
          <span class="m-footer__item">&copy; {% now "Y" %} <a class="m-footer__link" href="https://steemit.com/@noisy" target="_blank">Krzysztof Szumny - @noisy</a></span>
        </div>

        <div class="visible-xs-block visible-sm-block col-sm-12 m-footer__items">
          <span class="m-footer__item"><a class="m-footer__link" href="{{ PROJECT_GITHUB_REPOSITORY_URL }}" target="_blank">Repo</a></span>
          <span class="m-footer__item"><a class="m-footer__link" href="{% url 'faq' %}">{% trans "FAQ" %}</a></span>
          <span class="m-footer__item"><a class="m-footer__link" href="{% url 'terms' %}">{% trans "Terms" %}</a></span>
        </div>

{#          <span class="m-footer__item"><a class="m-footer__link" href="https://djangopackages.readthedocs.io/en/latest/apiv3_docs.html">{% trans "API" %}</a></span>#}
{#          <span class="m-footer__item"><a class="m-footer__link" href="{% url 'syndication' %}">{% trans "RSS / Atom" %}</a></span>#}

    </div>
</div>
