{% extends "base.html" %}

{% load cache %}
{% load i18n %}

{% block head_title %}Apps, sites and tools build by Steem community{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_messages %}
<div class="m-messagebar m-messagebar--info" data-stick="true">
    <div class="container">
        Release of SteemProjects is coming! There are {{ drafts_count }} drafts in our database. {{ awaiting_projects_count }} projects are waiting for final approval. Learn here <a href="https://steemit.com/utopian-io/@noisy/pre-release-tutorial-how-to-add-edit-a-project-on-steemprojects-com" target="_blank">how to add own project</a>. Want to be notified about a release? Then add SteemProjects to <a href="https://steemprojects.com/projects/usage/steemprojects/add/">your favorite projects</a>.
    </div>
</div>
{% endblock %}

{% block body %}
{% include "_homepage.html" %}
{% endblock %}
