{% extends "base.html" %}

{% load i18n cache %}

{% block head_title %}Apps, sites and tools build by {{ FRAMEWORK_NAME }} community{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_messages %}
{% if global_preferences.general__show_header_message %}
<div class="m-messagebar m-messagebar--info" data-stick="true">
    <div class="container">
        <i>{{ SITE_TITLE }}</i>&nbsp;&nbsp;is a directory of {{ published_projects_count }} apps, sites and tools build by {{ FRAMEWORK_NAME }} community. Your project is not listed here? You can <a href="https://steemit.com/utopian-io/@noisy/pre-release-tutorial-how-to-add-edit-a-project-on-steemprojects-com" target="_blank" rel="noopener noreferrer">add it on your own</a>!
    </div>
</div>
{% endif %}
{% endblock %}

{% block body %}
{% include "_homepage.html" %}
{% endblock %}
