{% extends "base.html" %}

{% load i18n %}
{% load profile_tags %}
{% load crispy_forms_tags %}

{% block head_title %}Profile for {{ local_profile.username }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css?deployment={{ DEPLOYMENT_DATATIME }}" type="text/css" />
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-4">
        <h1>{{ local_profile.username }}</h1>
        {% if request.user == user %}
            <a class="edit-profile" href="{% url 'profile_edit' %}"><i class="glyphicon glyphicon-pencil"></i></a>
        {% endif %}
    </div>
</div>
<div class="row">
        <div class="col-xs-4">
{#            <div>#}
{#                {% if local_profile.steem_account %}#}
{#                    <img class="img-circle" src="https://img.steemconnect.com/@{{ local_profile.steem_account }}?s=150">#}
{#                {% elif local_profile.github_account %}#}
{#                    <img class="img-circle" src="https://github.com/{{ local_profile.github_account }}.png?size=150">#}
{#                {% endif %}#}
{#            </div>#}

            <div class="roles">
                {% for membership in local_profile.teammembership_set.all %}
                <p>
                    <a href="{{ membership.project.get_absolute_url }}">{{ membership.project.name }}</a> - {{ membership.role }}
                    <i class="material-icons" title="Watch out! This information is not verified.">info_outline</i>
                </p>
                {% endfor %}
            </div>

            <h2>Accounts</h2>
            <div id="accounts">
                {% if local_profile.steem_account %}
                    <a href="https://steemit.com/@{{ local_profile.steem_account }}"><i class="icon-steem"></i>{{ local_profile.steem_account }}</a>
                {% endif %}

                {% if local_profile.github_account %}
                    <a href="https://steemit.com/@{{ local_profile.github_account }}"><i class="icon-github"></i>{{ local_profile.github_account }}</a>
                {% endif %}
            </div>
        </div>

        <div class="col-xs-4">
          {% if local_profile.my_packages %}
            <h2>{% trans "Projects Contributed To" %}</h2>
            <table class="table">
              <tbody>
              {% for package in local_profile.my_packages %}
                <tr>
                  <td><a href="{{ package.get_absolute_url }}">{{ package.name }}</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>

        <div class="col-xs-4">
            <h2>{% trans "Favorite Projects" %}</h2>

              <table class="table">
                <tbody>
                  {% for package in user|package_usage %}
                    <tr>
                        <td><i class="heart icon-favorite"></i></td>
                        <td><a href="{{ package.get_absolute_url }}">{{ package.name }}</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
    </div>
{% endblock %}
