{% extends "base.html" %}

{% load i18n %}
{% load profile_tags %}
{% load package_tags %}
{% load crispy_forms_tags %}

{% block head_title %}Profile for {{ local_profile.username }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css?deployment={{ DEPLOYMENT_DATETIME }}" type="text/css" />
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-4">
        <h1>{{ local_profile.username }}</h1>
    </div>
</div>
<div class="row">
        <div class="col-xs-4">
            <div class="roles">
                {% for membership in memberships|dictsort:"id" %}
                    {% if membership.role_confirmed_by_account != False %}
                    <p>
                        <a href="{{ membership.project.get_absolute_url }}">{{ membership.project.name }}</a>{% if membership.project.is_draft %} (draft){% endif %} - {{ membership.role }}
                        {% if membership.role_confirmed_by_account == None %}
                            {% if request.user == user %}
                                {% if membership.account.connected %}
                                    <a class="role-confirm role-confirm-verify" href="{% url 'profile_confirm_role' membership.id 'verify' %}"><i class="material-icons">done</i>Verify this</a>
                                    <a class="role-confirm role-confirm-deny" href="{% url 'profile_confirm_role' membership.id 'deny' %}"><i class="material-icons">clear</i>Deny</a>
                                {% else %}
                                    <i class="material-icons" title="You need to first verify your {{ membership.account.account_type.name.lower }} {{ membership.account.name }} account, to verify roles attached to it.">info_outline</i>
                                    <a class="role-confirm role-confirm-deny" href="{% url 'profile_confirm_role' membership.id 'deny' %}"><i class="material-icons">clear</i>Deny</a>
                                {% endif %}
                            {% else %}
                                <i class="material-icons" title="Watch out! This information is not verified by {{ local_profile.username }}.">info_outline</i>
                            {% endif %}
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            </div>

            <h2>Accounts</h2>
            <div id="accounts">
                {% for account in accounts %}
                    <span class="account"{% if request.user == user %} style="display: block"{% endif %}>
                        {%  if account.connected %}
                            <a href="{{ account.thirdparty_profile_page }}"><i class="icon-{{ account.account_type.name.lower }}"></i>{{ account.name }}</a>
                            {% if request.user == user %}
                                <form class="disconnect" action="{% url "social:disconnect_individual" backend=account.account_type.social_auth_provider_name association_id=account.user_social_auth.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="role-confirm role-confirm-deny disconnect-account"> <i class="material-icons">clear</i>Disconnect </button>
                                </form>
                            {% endif %}
                        {% elif account.name %}
                            <a href="{{ account.thirdparty_profile_page }}"><i class="icon-{{ account.account_type.name.lower }}"></i>{{ account.name }}</a>
                            {% if request.user == user %}
                                <a class="role-confirm role-confirm-verify" href="{% url 'social:begin' account.account_type.social_auth_provider_name %}"><i class="material-icons">done</i>Confirm</a>
                                <a class="role-confirm role-confirm-deny" href="{% url 'profile_deny_account' account.account_type.name.lower account.name %}"><i class="material-icons">clear</i>Deny</a>
                            {% else %}
                                <i class="material-icons" title="Watch out! {{ local_profile.username }} didn't confirmed ownership of this account.">info_outline</i>
                            {% endif %}
                        {% endif %}
                    </span>

                {% endfor %}
                {% for account in accounts_to_add %}
                    {% if not account.already_connected %}
                    <div class="account">
                        <i class="icon-{{ account.account_type.name.lower }}"></i>
                        <a href="{% url 'social:begin' account.account_type.social_auth_provider_name %}">
                            Connect your {{ account.account_type.display_name }} account
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="col-xs-4">
          {% if local_profile.my_packages %}
            <h2>{% trans "Projects Contributed To" %}</h2>
            <table class="table">
              <tbody>
              {% for package in local_profile.my_packages %}
                <tr>
                  <td><a href="{{ package.get_absolute_url }}">{{ package.name }}</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>

        <div class="col-xs-4">
            <h2>{% trans "Favorite Projects" %}</h2>

              <table class="table">
                <tbody>
                  {% for package in user|package_usage %}
                    <tr>
                        <td>{% fav_button 'small' %}</td>
                        <td><a href="{{ package.get_absolute_url }}">{{ package.name }}</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}
