$container-padding: 20px;
$container-lg-padding: 60px;
$column-padding: 15px;


.m-gallery {
    @extend .clearfix;

    list-style: none outside none;
    padding-left: 0;
    margin: 0;

    .lSPager.lSGallery img {
        object-fit: cover;
    }

    &__image {
        object-fit: cover;
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 319px) {
        margin-top: 20px;
        width: 100%;

        .lSPager.lSGallery img {
            width: 9.6vw !important;
            height: 5.4vw !important;
        }

        &__image {
            width: 100%;
            height: calc(100vw * (9/16)); // this is far from perfect, since it doesn't work well
                                          // with body min-with:320px, when viewport is smaller than 320px
        }
    }

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) and (max-width : 1199px) {
        margin-top: 20px;
        $column-work-width-diff: (2*$container-padding + 2*$column-padding);

        width: calc(100vw - #{$column-work-width-diff});

        .lSPager.lSGallery img {
            width: 9.6vw !important;
            height: 5.4vw !important;
        }

        &__image {
            width: calc(100vw - #{$column-work-width-diff});
            height: calc((100vw - #{$column-work-width-diff})*(9/16));
        }
    }

    /* Extra Small Devices, Phones */
    //@media only screen and (min-width : 480px) {}
    /* Small Devices, Tablets */
    //@media only screen and (min-width : 768px) {}

    /* Medium Devices, Desktops */
    //@media only screen and (min-width : 992px) {}

/*
    How it is calculated for Large Devices and Wide Screens:


    <---------------------------------------------------CONTAINER-------------------------------------------------->
    <------->                                      CONTAINER PADDINGS                                      <------->
            <------------------------------> <-----------COLUMNS-----------> <----------------------------->
            <---->                     <---> <--->   COLUMN PADDINGS   <---> <--->                     <--->

                                                                            <--COLUMN WORK WIDTH-->
    |       |    |                     |    |    |                     |    |    |                     |   |       |
    |       |    |                     |    |    |                     |    |    |                     |   |       |
    |       |    |                     |    |    |                     |    |    |                     |   |       |
    |       |    |                     |    |    |                     |    |    |                     |   |       |
    |       |    |                     |    |    |                     |    |    |                     |   |       |
    |       |    |                     |    |    |                     |    |    |                     |   |       |
    |       |    |                     |    |    |                     |    |    |                     |   |       |
    |       |    |                     |    |    |                     |    |    |                     |   |       |
    |       |    |                     |    |    |                     |    |    |                     |   |       |
    |       |    |                     |    |    |                     |    |    |                     |   |       |
    |       |    |                     |    |    |                     |    |    |                     |   |       |
    |       |    |                     |    |    |                     |    |    |                     |   |       |

    column-work-width : 33.3vw - ((2*$container-padding + 6*$column-padding)/3)

*/

    /* Large Devices */
    @media only screen and (min-width : 1200px) {
        $column-work-width-diff: (2*$container-padding + 6*$column-padding)/3;

        width: calc(33.3vw - #{$column-work-width-diff});

        .lSPager.lSGallery img {
            width: 3.2vw !important;
            height: 1.8vw !important;
        }

        &__image {
            width: calc(33.3vw - #{$column-work-width-diff});
            height: calc((33.3vw - #{$column-work-width-diff})*(9/16));
        }
    }

    /* Wide Screens */
    @media only screen and (min-width : 1600px) {
        $column-work-width-diff: (2*$container-lg-padding + 6*$column-padding)/3;

        width: calc(33.3vw - #{$column-work-width-diff});

        &__image {
            width: calc(33.3vw - #{$column-work-width-diff});
            height: calc((33.3vw - #{$column-work-width-diff})*(9/16));
        }
    }

}
