.m-grid {
    @extend .table;
    @extend .table-condensed;

    margin-top: 20px;

    &__project-name {
        color: $base-font-color;
        font-size: 18px;
    }

    &__project-link-icon {
        @extend .material-icons;

        color: $base-icon-color;
        position: relative;
        top: -4px;
        line-height: 23px;
        padding-left: 10px;

        &::before {
            content: 'arrow_forward';
            font-size: 18px;
        }
    }

    &__header {
        border: none;
        border-bottom: 1px solid $base-table-border-color !important;
    }

    td {
        border: none;
        border-bottom: 1px solid $base-table-border-color;
    }

    &__feature-title {

    }
    &__feature-description {
        font-size: 12px;
        color: $second-font-color;
    }
}
