@import "../base/variables";

.m-action-panel {
  text-align: right;

  .m-btn {
    margin-right: 10px;
  }
  .m-btn:last-child {
    margin-right: 0px;
  }
}

.m-title-panel {
  &__title {
    font-size: 22px;
    display: inline-block;
    //padding-right: 10px;
  }

  &__link > * {
    color: $base-link-color;
  }
  &__edit-icon {
    @extend .glyphicon;
    @extend .glyphicon-pencil;
    width: 40px;
    text-align: center;
  }

  &__icon {
    @extend .material-icons;

    color: $base-icon-color;
    position: relative;
    top: 4px;
    left: 8px;
    padding-right: 15px;

    &--compare::before {
      content: 'swap_horiz';
    }
  }

  &__status {
    color: $m-btn-font-color-hover;
    background-color: $m-btn-background-color-hover;
    padding: 0 3px;

    &--unknown {
      background-color: $status-unknown;
    }

    &--live_released {
      background-color: $status-live-released;
    }

    &--workingprototype_beta {
      background-color: $status-working-prototype-beta;
    }

    &--demo_alpha {
      background-color: $status-demo-alpha;
    }

    &--concept {
      background-color: $status-concept;
    }

    &--abandoned_broken {
      background-color: $status-abandoned-broken;
    }

    &--outofdate_retired {
      background-color: $status-out-of-date-retired;
    }
  }

  &__status-help-icon {
    @extend .material-icons;
    font-size: 15px;
    position: relative;
    top: 2px;
    left: 4px;

    &::before {
      content: 'help_outline';
    }
  }
}
