$columns-width: 35px + 87px + 85px + 32px + 16px;

.m-timeline-form {
    input[name$="-date"] {
        width: 87px;
    }

    input[name$="-name"] {
        min-width: 250px;
        width: calc(50% - #{$columns-width});
    }

    input[name$="-url"] {
        min-width: 250px;
        width: calc(50% - #{$columns-width});
    }
}
