//////////// THEMES ////////////

///// STEEM
  $steem-red: #bf2155;
  $steem-gray-dark: #3e4f5e;
  $steem-gray-light: #7e93a0;
  $steem-blue: #4aa1f1;
  $steem-white: #fff;

  $gen-red: $steem-red;

  $base-background-color: $steem-white;
  $base-font-color: $steem-gray-dark;

  //$m-btn-font-color: $base-font-color; // by default
  $m-btn-border-color: $steem-blue;
  $m-btn-background-color: $base-background-color;

  $m-btn-font-color-hover: $steem-white;
  $m-btn-border-color-hover: $steem-blue;
  $m-btn-background-color-hover: $steem-blue;


  // Font
  $base-font-family: 'Source Sans Pro', sans-serif;


/////// EOS
//  $eos-white: #fff;
//  $eos-blackish: #111114;
//  $eos-orange: #F88A2F;
//
//  $gen-red: #F00;
//
//  $base-background-color: $eos-blackish;
//  $base-font-color: $eos-white;
//
//  $m-btn-font-color: $base-font-color; // by default
//  $m-btn-border-color: $base-font-color;
//  $m-btn-background-color: $base-background-color;
//
//  $m-btn-font-color-hover: $eos-white;
//  $m-btn-border-color-hover: $eos-orange;
//  $m-btn-background-color-hover: $eos-orange;


